body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
}
.Orange {
  color: orange;
}

.division {
  padding-left: 50px;
}
.division img {
  width: 100%;
}
.link {
  text-decoration: none;
  background-color: orange;
  padding: 10px 40px;
  border-radius: 40px;
}
.dic {
  background-color: aqua;
  border: 5px solid orange;
  border-width: 5px;
  border-radius: 40px;
  margin-right: 1000px;
  padding: 10px;
  
}

.dream-big {
  display: flex;
  padding-left: 1000px;
  margin-bottom: 150px;
}
section{
    margin-buttom: 2px;
}

