body{
    font-family: 'Poppins', sans-serif;
margin: 0px;
}
h1{
    font-size: 50px;
}
.Orange{
    color : orange
}

    }
    .division{
        width: 50%
        padding-left: 50px;
    }
    .division img{
        width: 100%;
    }
  .link{
      text-decoration: none;
background-color: orange;
padding: 10px 40px;
border-radius: 40px;
  }
.dic{
    background-color: aqua;
border: 5px solid  orange;
border-width: 5px;
border-radius: 40px;
margin-right: 1000px;
}
.o{
    background-color: rgb(158, 27, 147);
border: 5px solid  rgb(69, 21, 158);
border-width: 5px;
border-radius: 40px;
margin-right: 20px;
}
.dream-big{
display: flex;
padding-left: 1000px;
margin-bottom: 150px;
}







